body{
	font-family: 'Roboto Slab', serif;
}
#header{
	background-color: #2B4A6F;
	color: white;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-right: 10px;
}
#bot a{
	color:white;
}
.error{
	font-size: 18px;
	font-weight: bold;
	color:red;
}
#main{
    padding: 10px 30px;
}
#news{
	padding-top: 50px;
}
#news ul{

	background-color: #748BA7;
}
#logo{
	padding: 10px;
}
#menu{
	padding-top: 5px;
	text-align: right;
}
.sinRegistrar a{
	color:black;
}
.sinRegistrar{
	padding-bottom: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
.form{
	padding-top: 5px;
}

ul#menu li, ul#menu li form{
    display: inline;
}
ul#menu .home:hover{
	
	background-color: #748BA7;
}
.infoBusqueda{
	padding-right: 190px;
	padding-left: 190px;
	text-align: left;
}
.informacion{
	padding: 15px;
	border-radius: 4px;
	color: white;
	margin-bottom: 20px;
	background-color: #748BA7;
	clear: both;
	width: inherit;
}
.informacion h2{
	font-weight: bold;
	text-align: center;
}
.informacion a{
	color: black;
}


ul#menu li a{
    padding: 10px 20px;
	color: white;
    text-decoration: none;
    border-radius: 4px;
}

ul#menu li a:hover {
    background-color: white;
	color: black;
}
ul#menu li.flag a{
    background-color: inherit;
    padding-left: 0px;
    padding-right: 0px;
    text-decoration: none;
}
ul#menu li.flag a:hover{
    background-color: inherit;
    padding-left: 0px;
    padding-right: 0px;
    text-decoration: none;
}

ul.colMas {
	list-style: none;
  	padding-left: 0px;
	border-radius: 4px;
	margin: 20px;
	padding-bottom: 10px;
}

ul.colMas li {
	border-radius: 4px;
}
ul.colMas li a{
	color: black;
}
ul.colMas li a:hover{
    text-decoration: none;
    color: white;
}
ul.colMas li h2{
	background-color: #2B4A6F;
	font-size:17px;
	color: white;
	padding: 5px;
	border-radius: 4px;
}

.preg{
	padding-left: 10px;
}
#busqueda{
	border-radius: 4px;
	background: #FFFFFF;
	color: black;
}
#buttonBusqueda, #login{
	border-radius: 4px;
	background-color: #e9e9e9;
	display:inline-block;
	color:#666666;
	font-weight:bold;
}
.cancel{
	padding: 3px;
    font-weight:bold;
	color:#666666;
	background-color: #e9e9e9;
    border:0px;
}
.cancel:hover{
    text-decoration: none;
	color:#666666;
	
}
#buttonBusqueda:active, #login:active{
	position:relative;
	top:1px;
}
#main h1{
	font-size:25px;
}
#main h2{
	font-size:17px;
    padding-left: 20px;
}

#main h3{
	font-size:15px;
    padding-left: 30px;
    padding-bottom: 50px;
}

.preguntas{
	border-radius: 4px;
	color: white;
	margin-bottom: 20px;
}
.preguntas a{
	color: white;
}
.preguntas a:hover{
    text-decoration: none;
    color: white;
}
.pregunta{
	background-color: #2B4A6F;
	border-radius: 4px;
	clear: both;
	width: inherit;
}
.usuario{
	font-weight: bold;
	margin-top:5px;
	margin-bottom: 5px;
	padding-left:5px;
}

.usuario h1{
	padding:0px;
	margin:0px;
}

.perfilP{
	width: 40px; 
	height: auto;
    border-radius: 50%;
    margin-top: 5px;
}

.respuestas h2{
	text-align: center;
	
	margin-top:5px;
	margin-bottom: 5px;
}

.texto{
	clear: both;
	background-color: #4B688B;
	border-radius: 4px;
	
}

.masP{
	padding-top: 5px;
	text-align: center;
}
ul.masP li {
    display: inline;
}

ul.masP li a{
    background-color: #2B4A6F;
    padding: 10px 20px;
	color: white;
    text-decoration: none;
    border-radius: 4px;
}
ul.masP li.optionPeqSin{
    background-color: #2B4A6F;
    padding: 10px 20px;
	color: white;
    text-decoration: none;
    border-radius: 4px;
}

ul.masP li a:hover {
	font-weight: bold;
    color: black;
}

.comentar textarea{
	width: 100%;
	margin-bottom: 15px;
	border: 3px solid #2B4A6F;
	border-radius: 4px;
}

#buttonComent{
	border-radius: 4px;
	background-color: #e9e9e9;
	display:inline-block;
	color:#666666;
	font-weight:bold;
	margin-bottom: 30px;
	float: right;
}

.comentarios{
	border-radius: 4px;
	color: white;
	margin-bottom: 20px;
	background-color: #4B688B;
	clear:both;
}

.question{
	background-color: #2B4A6F;
	border-radius: 4px;
	clear: both;
	width: inherit;
	margin-bottom: 40px;
}

.textoR{
	clear: both;
	background-color: #4B688B;
	border-radius: 4px;
}

.textoR h4{
	font-size: 15px;
}

.votar{
	margin: 5px;
	text-align: right;
	color: black;
	font-weight:bold;
}
.comentario h2{
	margin-top: 10px;
	margin-bottom: 10px;
}
.numComentario{
	text-align: right;
}
.numComentario button{
	margin-top:20px;
	margin-bottom: 5px;
}

ul.masP li.option_sele{
	background-color: #748BA7;
    padding: 10px 20px;
	color: white;
    text-decoration: none;
    border-radius: 4px;
}
.inicio{
	padding-right: 190px;
	padding-left: 190px;
	text-align: center;
}
.registrar{
	padding-right: 190px;
	padding-left: 190px;
	text-align: left;
}
.registrar input{
	width: 100%;
	margin-bottom: 15px;
	border-radius: 4px;

}
.formLogin{
	background-color: #748BA7;
	border-radius: 4px;
	padding: 10px;
}
.titulo{
	font-size: 25px;
	color: #0C0C47;
	font-weight: bold;
}

.iniPreguntar{
	background-color: #748BA7;
	border-radius: 4px;
	padding: 20px;
}


.iniciar_sesion, .iniciarPreg{
	padding-bottom: 10px;
}
.iniciar_sesion textarea, .iniciarPreg textarea{
	width: 100%;
	margin-bottom: 15px;
	border-radius: 4px;
}
.iniciar_sesion input{
	width: 75%;
	margin-bottom: 15px;
	border-radius: 4px;
}
.iniciarPreg input{
	width: 100%;
	margin-bottom: 15px;
	border-radius: 4px;
}



.inicio a{
	color: white;
	padding: 5px;
}
.botones{
	font-size:16px;
	padding-top: 15px;
	
	text-align: center;
}
.botones_preguntar{
	font-size:16px;
	padding-top: 10px;
	text-align: right;
}

.inicio a:hover{
	text-decoration: none;
}
.registrarse{
	font-size: 17px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
}
#form-aceptar{
	display: inline;
}

@media (max-width: 420px){
	.imgLogo{
		width: 100%;
		height: auto;;
	}
}
@media (max-width: 767px) {
	#menu{
		padding-top: 5px;
		text-align: left;
		padding: 0px;
	}
	ul#menu li {
	    padding: 10px 20px;
	    display: block;
	}

	ul#menu li a{
		color: white;
	    text-decoration: none;
	    border-radius: 4px;
	}

	ul#menu li a:hover {
	    background-color: white;
		color: black;
	}

	#busqueda{
		width: 125px;
	}

	.masP{
		padding-top: 5px;
		text-align: center;
	}
	
	ul.masP li.optionPeq{
	    padding: 10px 20px;
		display: block;
	}

	ul.masP li a{
	    background-color: #2B4A6F;
	    padding: 10px 20px;
		color: white;
	    text-decoration: none;
	    border-radius: 4px;
	}

	ul.masP li a:hover {
		font-weight: bold;
	    color: black;
	}

	ul.masP li.option{
	display: none;
	}
	
	ul.masP li.option_sele{
		display: none;
	}
	.inicio, .registrar, .infoBusqueda{
		padding-right: 0px;
		padding-left: 0px;
	}
	
}

@media (min-width: 768px) {
	
}

@media (min-width: 992px) {
	.inicio, .registrar, .infoBusqueda{
		padding-right: 120px;
		padding-left: 120px;
	}

}
@media (min-width: 1200px) { 
	.inicio, .registrar, .infoBusqueda{
	padding-right: 190px;
	padding-left: 190px;
	}
}